# --- Framework web ---
fastapi==0.120.4
uvicorn==0.38.0

# --- Procesamiento y manipulación de imágenes ---
pillow==11.3.0
numpy==2.2.6

# --- Carga de modelos y ML ---
tensorflow==2.20.0
kagglehub==0.3.13

# --- Manejo de CORS (para conexión con el frontend HTML/JS) ---
python-multipart==0.0.20
starlette==0.49.2

# --- Opcional: para trabajar con JSON o DataFrames si lo requieres ---
pandas==2.3.2
